html, body{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
}
img{
    display: inline-block;
}

/******** SLASHES FOR VARIOUS LAYOUT NEEDS *********/
.slash{
    background-color: black;
    height: 1px;
    width: 500px;
    margin: 3px 0px 3px 0px;
}
.slash.small{
    background-color: black;
    height: 1px;
    width: 392px;
    margin: 3px 0px 3px 0px;
}
.slash.mini{
    width: 135px;
}
.slash.vertical-top{
    height: 50px;
    width: 1px;
    margin: 0px 36px 0px 35px;
}
.slash.vertical-bottom{
    height: 165px;
    margin: 0px 36px 20px 35px;
    width: 1px;
}

/******** BASIC TEXT FORMATTING ********/
.opening-text{
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(121, 130, 133);
    line-height: 1.734;
    text-align: center;
    letter-spacing: 1.5px;
    margin-top: 0px;
}

.date{
    font-size: 14px;
    font-family: "Open Sans";
    color: rgba(0, 0, 0, 0.651);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.734;
    text-align: left;
    width: 500px;
    margin: 0px;
}
/** The size was 14px, but I changed it to 13px due to a font issue **/
.title{
    font-size: 13px;
    font-family: open-sans-bold, sans-serif;
    font-weight: 800;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.734;
    text-align: left;
    width: 500px;
    margin: 0px;
}

h2{
    font-size: 23px;
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    font-weight: normal;
    line-height: 1.355em;
    text-align: left;
    margin: 0px;
}

.light-bg{
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.734;
    text-align: justifyLeft;
}
.dark-bg{
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.734;
    text-align: justifyLeft;
}
.content{
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(121, 130, 133);
    line-height: 1.734;
    text-align: left;
    max-width: 505px;
}

/****************** TRIANGLES FOR LAYOUT *******************/
.triangle.right{
    /**https://css-tricks.com/snippets/css/css-triangle/**/
    width: 0px;
    height: 0px;
    border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-left: 13px solid #f5f6f6;
    position: absolute;
    top: 200px;
}
.triangle.left{
    /**https://css-tricks.com/snippets/css/css-triangle/**/
    width: 0px;
    height: 0px;
    border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-right: 13px solid #f5f6f6;
    position: absolute;
    top: 200px;
    right: 0px;
}

/******************** MEDIA STYLES ********************/
.video-bar{
    margin: 355px auto 0px auto;
    /*bottom: 100px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 89%;
}
.video-time {
    display: flex;
}
.video-bar .triangle{
    position: static;
}
.progress-bar{
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  width: 401px;
  height: 0;
}
.time{
    font-size: 12px;
    font-family: open-sans, sans-serif;
    line-height: 2.023;
    text-align: justifyLeft;
}
.time.end{
    color: rgb(255, 255, 255);
}
.time.current{
    color: rgb(134, 134, 134);
}
.fa-pause{
    color: #fff;
    font-size: 22px;
}
.fa-play{
    color: #fff;
    font-size: 22px;
}