html, body{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
}
img{
    display: inline-block;
}

header{
    background-image: url(../images/header-background.png);
    height: 1062px;
    background-position: center;
    position: relative;
    align-content: center;
    text-align: center;
}

header nav{
    background-color: rgba(0, 8, 12, 0.102);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

header ul{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row, wrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    width: 60%;
}
header li{
    list-style: none;
}
header li a{
    text-decoration: none;
    font-size: 17px;
    font-family: "Dosis", sans-serif;
    color: #606060;
    text-transform: uppercase;
    line-height: 3.487;
    text-align: center;
    margin: 0px;
    letter-spacing: 1.5px;
}
header li a[class="selected"]{
    text-decoration: none;
    font-size: 17px;
    font-family: "Dosis", sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 3.487;
    text-align: center;
}
header li a:hover{
    text-decoration: none;
    font-size: 17px;
    font-family: "Dosis", sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 3.487;
    text-align: center;
}

header img{
    /*The calculation below is subtracting the line height of
    the li items.*/
    padding-top: calc(219px - 3.487em);
    margin-left: -20px;
}

section[id = "discography"]{
    text-align: center;
    background-image: url("../images/discography-background.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 1843px;
}

.main-title h1{
    display: inline-block;
    font-weight: 500;
    font-size: 50.49px;
    letter-spacing: 4px;
    font-family: "Dosis";
    line-height: 1.174;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
}

.main-title#discography h1{
    color: transparent;
    /*Code help from: http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html */
    /*text background is: 896 x 370*/
    background: url("../images/Light_Leak_uncut.png") repeat;
    background-position: 0px 110.49px;
    -webkit-background-clip: text;
}

.slash{
    background-color: black;
    height: 1px;
    width: 500px;
    margin: 3px 0px 3px 0px;
}
.slash.small{
    background-color: black;
    height: 1px;
    width: 392px;
    margin: 3px 0px 3px 0px;
}
.main-title{
    position: relative;
    display: inline-block;
    margin: 20px 65px 46px 65px;
}
.main-title#discography .slash{
    position: absolute;
    left: -86.93px;
    top: 30.25px;
}

#featured{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    margin: 0px 13vw 0px 18vw;
}
#featured >aside{
    margin-right: 13px;
}
#featured >article{
    margin-left: 13px;
    padding-top: 50px;
}

.about-discography{
    margin-top: 0px;
    width: 735px;
    margin-left: auto;
    margin-right: auto;
}
.opening-text{
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(121, 130, 133);
    line-height: 1.734;
    text-align: center;
}
.date{
    font-size: 14px;
    font-family: "Open Sans";
    color: rgba(0, 0, 0, 0.651);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.734;
    text-align: left;
    width: 500px;
    margin: 0px;
}
.title{
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.734;
    text-align: left;
    width: 500px;
    margin: 0px;
}

#featured article article >p{
    font-size: 14.6px;
    font-family: "Open Sans";
    color: rgb(172, 172, 172);
    line-height: 1.734;
    text-align: left;
    width: 672px;
    margin: 0px;
}
#featured article article span{
    display: block;
    margin: 20px 0px 100px 0px;
    justify-content: center;
    align-items: center;
}
/*  Margins below decided by sight. 
    Is there a better way?  */
#featured aside #_2010{
    margin-top: 50px;
    margin-bottom: 354px;
}
#featured aside #_2012{
    margin-bottom: 386px;
}
h2{
    font-size: 23px;
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    font-weight: normal;
    line-height: 1.355em;
    text-align: left;
}
.audio{
    width: 196px;
    height: 56px;
    margin: 0px;
    padding: 0px;
}
/*I think the opacity might be a little off.*/
._2010{
    background: url("../images/audio-bg-2010.png");
    opacity: 0.929;
    /*For some strange reason the line below centers "Play"*/
    border-style: solid;
    background-color: rgb(0, 0, 0);
    border-width: 1px;
    border-color: rgb(99, 99, 99);
}
/*  The two elements below don't have borders
    This is because the last element is smaller*/
._2012{
    background: url("../images/audio-bg-2012.png");
    background-color: black;
    opacity: 0.929;
    border-style: solid;
    background-color: rgb(0, 0, 0);
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}
._2015{
    background: url("../images/audio-bg-2015.png");
    opacity: 0.929;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}
.light-bg{
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.734;
    text-align: justifyLeft;
}
.dark-bg{
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.734;
    text-align: justifyLeft;
}

section[id="concert-tours"]{
    height: 1418px;
    background: url("../images/concert-tours-background.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    text-align: center;
}
/*
    Gradient: 62a2ad -> 8dbab3
    solid, 100% smoothness and opacity
    linear style
    -90 degree angle
    62% scale
*/
.main-title#concert-tours{
    margin-top: 155px;
    margin-bottom: 50px;
}
.main-title#concert-tours h1{
    color: transparent;
    /*text background is: 896 x 370*/
    background: linear-gradient(#62a2ad 62%, #8dbab3);
    background-position: 0px 110.49px;
    -webkit-background-clip: text;
}
.main-title#concert-tours .slash{
    position: absolute;
    left: -59.625px;
    top: 30.25px;
}
.about-concert-tours{
    width: 877.1px;
    margin: 0px auto 0px auto;
}
#concert-tours .opening-text{
    letter-spacing: 1.5px;
    margin-top: 0px;
}

#concert-tours #featured{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin: 460px 0px 0px 20vw; 
    width: 665px;
    /*left 400px*/
}
#concert-tours #featured article{
    margin: 0px;
}
#concert-tours #featured article >p{
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(121, 130, 133);
    line-height: 1.734;
    text-align: left;
}
.action-box{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-color: rgba(99, 99, 99, 0.439);
    border-style: solid;
    text-align: center;
    width: 196px;
    height: 56px;
}
#concert-tours #featured article span p{
    text-transform: none;
}

/*__________________________________________________________*/

section[id='latter-compositions']{
    height: 1987px;
    text-align: center;
}
#latter-compositions.main-title{
    margin-top: 145px;
    margin-bottom: 35px;
}
#latter-compositions .main-title .slash{
    position: absolute;
    width: 600px;
    left: -40.9295px;
    top: 27px;
}
.about-latter-compositions{
    max-width: 700px;
    margin: 0px auto 155px auto;
}
.about-latter-compositions p{
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(121, 130, 133);
    line-height: 1.734;
    text-align: center;
    letter-spacing: 2px;
}
#latter-compositions #featured{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 1200px;
}
.media-row{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    background-color: #f5f5f6;
    margin-bottom: 50px;
    align-items: center;
}
.media-row aside{
    flex: 1;
}
.media-row aside >div{
    margin-left: 35px;
}
.media-row aside h2{
    font-size: 23px;
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    line-height: 1.055;
    text-align: justifyLeft;
    max-width: 505px;
}
p[class="content"]{
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(121, 130, 133);
    line-height: 1.734;
    text-align: left;
    max-width: 505px;
}
div[class="about-track"]{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items:flex-end
}
div[class="about-track"] .action-box{
    margin-right: 33px;
}
div[class="about-track"] span{
    display: flex;
    align-items: center;
}
div[class="about-track"] span span{
    margin-right: 20px;
    margin-left: 9px;
    font-size: 12px;
    font-family: "Myriad Pro";
    color: rgb(153, 153, 153);
    line-height: 1.2;
    align-self: center;
}

.media-row figure{
    width: 600px;
    height: 422px;
    margin: 0px;
    flex: 1;
}
.media-row#first figure{
    background: url("../images/album-pic-1.png");
}
.media-row#second figure{
    background: url("../images/album-pic-2.png");
}
.media-row#third figure{
    background: url("../images/album-pic-3.png");
}

/**************************************************************/

#LAWL{
    height: 640px;
    background: url("../images/new-tracks-background.png");
}
#LAWL >div{
    text-align: center;
    padding-top: 160px;
}
.bolt{
    margin: 0px 23px 10.5px 23px;
}
.reversed {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        /*http://snippetcentral.com/showing-reverse-image-css/*/
}
#LAWL h2{
    font-size: 18.49px;
    font-family: "Dosis";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.421;
    text-align: center;
    letter-spacing: 1.8px;
    margin-top: 33px;
    margin-bottom: 43px;
}
#LAWL p{
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(121, 130, 133);
    line-height: 1.734;
    text-align: center;
    max-width: 515px;
    margin: 0px auto 0px auto;
}
#LAWL p[class="subcontent"]{
    font-family: "Open Sans";
    color: rgb(86, 94, 97);
    margin-top: 63px;
    /*padding-bottom: 88px;*/
}

/**************************************************************/

#new-tracks{
    
}
#new-tracks aside{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    margin-left: calc(18vw - 12px);
    margin-right: calc(18vw - 12px);
    margin-top: 150px;
    margin-bottom: -14px;
}
#new-tracks article{
    width: 384px;
    height: 422px;
    margin: 14px 12px 14px 12px;
    position: relative;
}
#new-tracks .slash.small{
    width: 315px;
    left: 35px;
    position: absolute;
}
#new-tracks article p[class='title']{
    margin-top: 5px;
    color: #fff;
}
#new-tracks article[id="first"]{
    background: url("../images/event-background-1.png") no-repeat;
}
#new-tracks article[id="second"]{
    background: url("../images/event-background-2.png") no-repeat;
}
#new-tracks article[id="third"]{
    background: url("../images/event-background-3.png") no-repeat;
}
#new-tracks article[id="fourth"]{
    background: url("../images/event-background-4.png") no-repeat;
}
#new-tracks article[id="fifth"]{
    background: url("../images/event-background-5.png") no-repeat;
}
#new-tracks article[id="sixth"]{
    background: url("../images/event-background-6.png") no-repeat;
}
#new-tracks article p, #new-tracks article h2{
    margin-left: 35px;
    max-width: 315px;
}
#new-tracks article p[class='date']{
    margin-top: 30px;
}
/*****************************************************************************/
section[id="upcoming-events"]{
    height: 1311px;
    background: url("../images/upcoming-events-background.png") no-repeat;
    background-position: bottom;
}
#upcoming-events .main-title{
    margin: 321px 0px 120px 0px;
}
#upcoming-events h1{
    font-size: 50.49px;
    font-family: "Dosis";
    color: rgb(66, 113, 126);
    text-transform: uppercase;
    line-height: 1.174;
    text-align: left;
    margin: 0px;
}
.main-title .slash{
    position: absolute;
    left: -8px;
    top: 26px;
}
#upcoming-events h2{
    margin: 0px;
}
#upcoming-events .date{
    margin: 4px 0px 20px 0px;
}
.slash.mini{
    width: 135px;
}
.slash.vertical-top{
    height: 50px;
    width: 1px;
    margin: 0px 36px 0px 35px;
}
.slash.vertical-bottom{
    height: 165px;
    margin: 0px 36px 20px 35px;
    width: 1px;
}

#upcoming-events .main-title, #upcoming-events #event-info{
    margin-left: 50vw;
}
/**********************************************************/
#history{
    
}
#contact-us{
    
}